%html
  %head
    %title Tumblr to Markdown
  %body
    .container
      = yield
  %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/css/application.css", :rel => "stylesheet", :type => "text/css"}/

  
